language: python

python:
  # - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"

install:
  - pip install pipenv
  - pipenv install --dev --deploy

before_script:
  - make lint

script:
  - make test

after_success:
  codecov

deploy:
  provider: pypi
  user: lk-geimfari
  password: $SECURE_PASS
  on:
    branch: master
    tags: true
